<h1>Editing <%= @device.name %></h1>
<hr/>

<%= form_for @device do |d| %>
<%= d.text_field :name %>
<%= d.text_field :description %>
<%= d.number_field :update_period %>
<%= d.submit %>
<% end %>
<br/>
OR DESTROY HERE
